// Copyright <https://cookiebot.com>

$white: #ffffff;
$black: #000000;
$dark-grey: #333333;
$light-grey: #cccccc;
$orange: #ff530d;
$white-grey: #f5f5f5;

:host {
  font-family: 'Segoe UI',Arial,Helvetica,Verdana,sans-serif;
  animation: none;
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 0;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-timing-function: ease;
  backface-visibility: visible;
  background: $white;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 0;
  background-position-y: 0;
  background-size: auto auto;
  border-collapse: separate;
  border-image: none;
  border-radius: 0;
  border-spacing: 0;
  bottom: auto;
  caption-side: top;
  clear: none;
  clip: auto;
  columns: auto;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-rule: medium none currentColor;
  column-rule-color: currentColor;
  column-rule-style: none;
  // column-rule-width: none;
  column-span: 1;
  column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  display: inline;
  box-sizing: content-box;

  div {
    line-height: 1.231;
  }

  a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .body {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    padding-right: 8px;
    padding-left: 0;
    overflow: hidden;

    .details-button {
      display: inline-block;
      color: #000000;
      text-decoration: none;
      font-size: 9pt;
      margin-top: 8px;
      text-align: right;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAqSURBVBhXY4CCTVAaHcDFQQwYRgYY4ugC6Hw4QJbAqgAGCCqAATQFDAwAmV8P/6VEKVcAAAAASUVORK5CYII=);
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: 12px;
      background-position: right 12px;
      border-left: 0;
      border-right: 5px solid transparent;
      padding: 7px 19px 0 0;
    }

    .powered-by {
      position: absolute;
      z-index: 2147483646;
      width: 48px;
      height: 36px;
      margin-left: 6px;
      margin-right: 0;
      margin-top: 12px;

      .logo {
        border: none;
        padding: 0;
        margin: 2px 0 0 3px;
        width: 46px;
      }
    }

    .content {
      min-height: 32px;
      font-size: 9.5pt;
      font-weight: 400;
      line-height: 130%;
      padding: 12px 0 8px 80px;

      h2.title {
        padding: 0;
        font-size: 12pt;
        font-weight: 700;
        line-height: 100%;
        color: $black;
        display: block;
        position: static;
        margin: 2px 0 6px;
        visibility: visible;
        letter-spacing: normal;
        float: none;
        text-align: left;
      }

      .text {
        text-align: left;
      }
    }

    .buttons {
      // Default
      display: none;
      //display: block;
      margin: 0 0 6px 6px;
      z-index: 10;
      padding-left: 63px;
      padding-right: 0;

      .button {
        display: inline-block;
        padding: 1px 4px 3px;
        z-index: 10;
        font-size: 9.5pt;
        font-weight: 400;
        margin-left: 12px;
        margin-right: 0;
        margin-top: 8px;
        text-align: center;
        white-space: nowrap;
        min-width: 80px;
        box-sizing: content-box;
        cursor: pointer;

        &.decline {
          background-color: $dark-grey;
          border: 1px solid $dark-grey;
        }

        &.accept {
          background-color: $orange;
          border: 1px solid $orange;
        }

        &.details {
          float: right;
          outline: 0;

          display: inline-block;
          color: $black;
          text-decoration: none;
          font-size: 9pt;
          margin-top: 8px;
          text-align: right;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAAXNSR…CCTVAaHcDFQQwYRgYY4ugC6Hw4QJbAqgAGCCqAATQFDAwAmV8P/6VEKVcAAAAASUVORK5CYII=);
          //background-repeat: no-repeat;
          background-position-x: right;
          background-position-y: 12px;
          border-left: 0;
          border-right: 5px solid transparent;
          padding: 7px 19px 0 0;
        }
      }
    }

    .level-wrapper {
      display: block;
      text-align: right;

      .button-accept-wrapper {
        display: inline-block;
        float: right;
        margin-left: 0;
        margin-right: 0;

        .button-accept {
          display: inline-block;
          background-color: $orange;
          border: 1px solid $orange;
          padding: 3px 2px;
          min-width: 80px;
          color: $white;
          text-decoration: none;
          margin-left: 0;
          margin-top: 6px;
          z-index: 10;
          font-size: 9.5pt;
          font-weight: 400;
          margin-right: 0;
          text-align: center;
          cursor: pointer;
        }
      }

      .level-buttons {
        font-size: 9pt;
        float: left;
        margin-left: 78px;
        margin-right: 0px;

        .table {
          display: inline-table;
          margin: 5px 0;
          width: auto;

          .row {
            display: table-row;

            .select-pane {
              display: table-cell;
              border: 1px solid $light-grey;
              padding: 4px 3px 3px 9px;
              -webkit-border-radius: 4px 0 0 4px;
              -moz-border-radius: 4px 0 0 4px;
              border-radius: 4px 0 0 4px;
              text-align: left;
              vertical-align: top;

              .button-wrapper {
                display: inline-block;
                position: relative;
                margin-right: 14px;
                margin-left: 0;
                line-height: 16px;

                .button {
                  opacity: 0;
                  position: absolute;
                  top: 0;
                  left: 0;
                  z-index: 2;
                  cursor: pointer;

                  &:checked + label {
                    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADdSURBVDhPlZLBDYJAEEU5EgEP3q3ADrx49EhkEy+erYAKrMAK7IAKvHugAkIBFkABbJw//IWNguhPJrB//1uGgeAfWZNsbZbk9rRa0poXwq1JKqknrrTn1R6iG6Fnm0UlvHyuHruwbNK4cSBaFl83J2XTcI3WPPDCrQG0JtrwtpcECwAdGN9pqxQU84qAwEd1RdbEZz5FwfeDc/TsAg5GyPfq/aJmvpd+F7ThBzG5Ya0tfsxCjVG4qwoDcjlfw3BGYLwnt6dBiLAOSqqgDX0HnfS/lEO4hEbBX4sKghcxlqGtHGYwZQAAAABJRU5ErkJggg==);
                    background-repeat: no-repeat;
                    height: auto;
                    width: auto;
                    min-height: 14px;
                    display: inline-block;
                    padding: 1px 0 0 17px;
                    background-position: left 1px;
                    vertical-align: top;
                    line-height: 16px;
                  }

                  +label {
                    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAfSURBVDhPYxhaoJgEjAIwBHCAUY14wFDXSCyGAgYGAFZ4Efmvu6AAAAAAAElFTkSuQmCC);
                    background-repeat: no-repeat;
                    height: auto;
                    min-height: 14px;
                    width: auto;
                    display: inline-block;
                    padding: 1px 0 0 17px;
                    position: relative;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    cursor: pointer;
                    margin-top: 0;
                    background-position: left 1px;
                    vertical-align: top;
                    line-height: 16px;
                  }

                  &.disabled + label {
                    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACqSURBVDhPlZAhEoMwEEWj6qpwPUBdVRUOhcJV1VVxgZ4GieaS/BfyZ8I0pemfeROS7MssG/7MRdzFKe4qQ/FLjGmtTi+Q4MnBu4JJLMIiLceLo5wFrVlsRUwuNmnNMwgExAcHjsVOUHCNuy034fYQdw8j0rMLLFOUn81iF0RGTRt5IZPzN3cfs/BBSQYGw4C+iqQk85/kUCTIHhQTdX6KDgPjEaco1pISwgqF8iXhkRBi4QAAAABJRU5ErkJggg==);
                    background-repeat: no-repeat;
                    height: auto;
                    width: auto;
                    min-height: 14px;
                    display: inline-block;
                    padding: 1px 0 0 17px;
                    position: relative;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    cursor: default;
                    background-position: left 1px;
                    vertical-align: top;
                    line-height: 16px;
                  }

                  &.necessary {
                    cursor: default;
                  }
                }
              }
            }

            .details-wrapper {
              display: table-cell;
              background-color: $white-grey;
              border: 1px solid $light-grey;
              border-left: none;
              height: 14px;
              padding: 4px 0 4px 4px;
              text-align: left;
              vertical-align: top;

              .details-button {
                text-decoration: none;
                padding-top: 0;
                padding-left: 4px;
                margin: 1px 0 0;
                background-position-x: right;
                background-position-y: 5px;
                background-position: right 5px;
                text-align: left;
                color: $black;
                line-height: 16px;
                cursor: pointer;

                &.expanded {
                  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAApSURBVBhXY8ACNkFpnACkAIaxAmQFWBWiS6DzMQWgAEMcXQEMAMUZGAAXag//RKZm7AAAAABJRU5ErkJggg==)!important
                }
              }
            }
          }
        }
      }
    }
  }

  .details {
    display: none;
    background-color: $white;
    padding-top: 0;
    padding-bottom: 1px;
    overflow: auto;

    .body {
      width: 100%;
      max-width: 632px;
      margin-left: auto;
      margin-right: auto;
      vertical-align: top;

      .content-tabs {
        position: relative;
        height: auto;
        display: inline-block;
        white-space: nowrap;

        .a {
          font-size: 10.5pt;
        }

        :first-child {
          border-left: 1px solid $light-grey;
          -webkit-border-radius: 4px 0 0 0;
          -moz-border-radius: 4px 0 0;
          border-radius: 4px 0 0;
        }

        .tab-item {
          background: $white-grey;
          color: $black !important;
          opacity: .85;
          font-weight: 400;
          margin: 1px 0 0;
          cursor: pointer;
          line-height: 100%;
          padding: 7px 18px 5px;

          font-size: 10.5pt;
          border-right: 1px solid $light-grey;
          position: relative;
          top: 1px;
          z-index: 10;
          white-space: normal;
          display: inline-block;
          border-top: 1px solid $light-grey;
        }

        .selected {
          background: $white;
          color: $black;
          font-weight: 400;
          opacity: 1;
          line-height: 100%;
          padding: 8px 18px 6px;
        }

        a.selected {
          margin: 0;
          text-decoration: none !important;
          color: $black !important;
          opacity: 1;
        }
      }

      .details-content {
        background-color: $white;
        color: $black;
        border: 1px solid $light-grey;
        border-bottom: 4px solid $light-grey;
        height: 170px;

        .overview {
          display: inline-block;

          .container {
            .types {
              float: left;
              white-space: nowrap;
              padding: 0;
              background-color: $white-grey;
              font-size: 9pt;

              .type-item {
                padding: 8px;
                cursor: pointer;
                background-color: $white-grey;
                border-bottom: 1px solid $light-grey;
                border-right: 1px solid $light-grey;
                border-left: none;
                display: block;
                text-decoration: none !important;
                color: $black !important;
                opacity: 1;
                margin: 0;

                &.selected {
                  padding: 8px;
                  background-color: $white;
                  border-bottom: 1px solid $light-grey;
                  border-left: none;
                  border-right: 1px solid $white;
                  display: block;
                  text-decoration: none !important;
                  color: $black !important;
                }

                label {
                  cursor: pointer;
                  display: none;
                }
              }
            }

            .type-details {
              padding: 12px;
              font-size: 9pt;
              overflow: auto;
              height: 146px;
              max-height: 146px;

              .content-type-table {
                padding: 0;
                margin: 8px 0 0;
                font-size: 9pt;
                border-spacing: 0;
                border-collapse: collapse;
                width: 100%;

                td {
                  line-height: 1.231;
                }

                thead  {
                  tr {
                    vertical-align: top;

                    td {
                      background-color: $white-grey !important;
                      color: $black !important;
                      text-align: left;
                      vertical-align: top;
                      padding: 2px;
                      border-bottom: 1px solid $light-grey;
                    }
                  }
                }

                tbody > tr {
                  vertical-align: top;

                  td {
                    border-bottom: 1px solid $light-grey;
                    border-right: 1px solid $white-grey;
                    text-align: left;
                    vertical-align: top;
                    padding: 4px;
                    max-width: 72px;
                    overflow: hidden;
                    font-size: 9pt;
                    color: $black !important;
                  }
                }
              }
            }
          }
        }

        .about {

        }
      }

      .footer {
        padding-top: 4px;
        padding-right: 2px;
        color: $black;
        text-align: right;
        opacity: .85;
        background-color: $white;
      }
    }
  }
}
